@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Old+Standard+TT');

p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}





/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 100%;
	max-width:1080px;

}

.container h1, h2{
display: inline;
padding-left: 10px;
padding-right: 10px;
font-family: 'Cabin', sans-serif;


}

.container p{
font-family: 'Old Standard TT', serif;
}

.content {
	text-align: left
	overflow: auto;

}

.map {
    max-width: 100%;
    max-height: 100%;
}

.column-left{ float: left; width: 320px;   }
.column-right{ float: left; width: 320px; }
.column-center{ float: left; width: 320px; }



aside {float:right;}

.post {
    text-align: left;
    border-bottom: 1px solid black;
    display: block;
}

.home-image img{

	width: 100%;
	height: auto;

}

.post h2 {
text-align: center;
border: 2px solid black;
border-radius: 5px;
}

.post p {
padding-bottom: 10px;
padding-right: 10px;
}

.push-right{
	padding-left: 10px;
	float: right;
}



/*	****************************************
	Buttons
	**************************************** */
.button {

    border-radius: 12px;
         padding: 14px; 40px;
        background-color: black;
         color:white;}
